/* vars start*/
:root {
    --black: #000000;
    --dark: #0c0c0e;
    --white: #ffffff;
    --sand: #bb945f;
    --gray: #8e8e8e;
    --black_10: rgba(0, 0, 0, 0.1);
    --black_20: rgba(0, 0, 0, 0.2);
    --black_50: rgba(0, 0, 0, 0.5);

    --ff-inter: Inter, Arial, Helvetica, sans-serif;
    --ff-forum: Forum, "Brush Script MT", cursive;

    --page-width: 1440px;

    --mobile-menu-width: 332px;
    --mobile-menu-x-pos: 332px;

    --modal-animation-time: 0.5s;
}

/*vars end*/

@font-face {
    font-family: Forum;
    src: local("Forum"), local("Forum-Regular"),
        url(./../assets/fonts/Forum/Forum-Regular.woff2) format("woff2"),
        url(./../assets/fonts/Forum/Forum-Regular.woff) format("woff"),
        url(./../assets/fonts/Forum/Forum-Regular.ttf) format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: Inter;
    src: local("Inter Bold"), local("Inter-Regular"),
        url(./../assets/fonts/Inter/Inter-Regular.woff2) format("woff2"),
        url(./../assets/fonts/Inter/Inter-Regular.woff) format("woff"),
        url(./../assets/fonts/Inter/Inter-Regular.ttf) format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: Inter;
    src: local("Inter Bold"), local("Inter-Bold"),
        url(./../assets/fonts/Inter/Inter-Bold.woff2) format("woff2"),
        url(./../assets/fonts/Inter/Inter-Bold.woff) format("woff"),
        url(./../assets/fonts/Inter/Inter-Bold.ttf) format("truetype");
    font-weight: 700;
    font-style: normal;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

@media (prefers-reduced-motion: no-preference) {
    :root {
        scroll-behavior: smooth;
    }
}

html {
    box-sizing: border-box;
    height: 100%;
}

body {
    position: relative;
    overflow-x: hidden;
    min-height: 100%;
    min-width: 320px;
    font-family: var(--ff-inter);
    font-size: 1.25rem;
    line-height: 2.5rem;
    color: var(--black);
    background-color: var(--gray);
    font-style: normal;
    font-weight: normal;
    -webkit-text-size-adjust: 100%;
}

.adaptive-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.slideIn {
    animation-name: slideIn;
}

.slideOut {
    animation-name: slideOut;
}

.page {
    margin: 0 auto;
    max-width: var(--page-width);
    background-color: var(--white);
    overflow-x: hidden;
}


.page__welcome {
    margin-bottom: 1.25rem;
}

.page__about {
    margin-bottom: 3.7rem;
}

.page__favorites {
    margin-bottom: 3.7rem;
}

.page__coffee-shop {
    margin-bottom: 3.7rem;

}

.page__contacts {
    margin-bottom: 3.4rem;
}

.page__library-card {
    margin-bottom: 2.5rem;
}

.btn {
    display: inline-block;
    color: var(--dark);
    font-size: 0.625rem;
    font-weight: 700;
    line-height: 1;
    letter-spacing: 0.0625rem;
    padding: 0.56rem 1.69rem;
    cursor: pointer;
    margin: 0;
    text-decoration: none;
    text-align: center;
    transition: background-color 0.2s ease;
}

.btn_large {
    font-size: 1.25rem;
    padding: 0.65rem 2.5rem;
}

.btn_pad_a {
    padding: 0.6rem 0.9rem;
}

.btn_pad_b {
    padding: 0.6rem 1.2rem;
}

.btn-transparent {
    border-radius: 0.125rem;
    border: 1px solid var(--dark);
    background-color: var(--white);
}

.btn-transparent:hover:not(:disabled),
.btn-transparent:focus:not(:disabled) {
    background-color: var(--sand);
    border: 1px solid var(--sand);
}

.btn-transparent:disabled {
    border: 1px solid var(--sand);
    color: var(--sand);
    cursor: default;
}

.input {
    display: block;
    width: 100%;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
}

.input:hover,
.input:focus {
    outline: none;
}

.input::-webkit-input-placeholder {
    color: var(--gray);
}

.input::-ms-input-placeholder {
    color: var(--gray);
}

.input:-moz-placeholder {
    color: var(--gray);
}

.input:disabled {
    cursor: default;
}

.form-field {
    display: flex;
    flex-direction: column;
    position: relative;
}

.form-field__inputs {
    display: flex;
    gap: 10px;
}

.form-field__state {
    position: absolute;
    top: 100%;
    left: 0;
    font-size: 12px;
    line-height: 1.2;
    color: red;
}

.form-field__form-label {
    margin: 0 0 0.6rem;
}

.form-input {
    height: 1.25rem;
    padding: 0 0.625rem;
    font-size: 0.8rem;
    border: 1px solid var(--sand);
    color: var(--black);
}

.form-input_sm {
    max-width: 45px;
}


.form-input:focus {
    box-shadow: 0 0 3px 1px var(--sand);
}

.form-label {
    display: inline-block;
    font-size: 0.9375rem;
    letter-spacing: 0.01875rem;
    line-height: 1.25rem;
}


.card-input {
    height: 4.125rem;
    padding: 0 1.25rem;
    font-size: 1.875rem;
    font-family: var(--ff-forum);
    border: 1px solid var(--sand);
    letter-spacing: 0.0375rem;
    background: var(--white);
    color: var(--sand);
    border-radius: 0.625rem;
}




.card-input:focus {
    box-shadow: 0 0 3px 3px var(--black_20);
}


/* .input_type_form_sm {
    max-width: 2.8125rem;
} */

.radio__label {
    cursor: pointer;
    display: flex;
}

.radio__box {
    width: 1rem;
    height: 1rem;
    margin-top: 0.8rem;
    border-radius: 50%;
    border: 2px solid var(--black);
    position: relative;
    flex: none;
    margin-right: 1.25rem;
    transition: box-shadow 0.3s ease;
}

.radio__box:after {
    content: "";
    position: absolute;
    top: 0.125rem;
    bottom: 0.125rem;
    left: 0.125rem;
    right: 0.125rem;
    border-radius: 50%;
    transition: background-color 0.3s ease;
    background-color: var(--black);
    opacity: 0;
}

.radio__text {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.radio__text:after {
    display: inline-block;
    content: attr(data-title);
    font-weight: bold;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}

.radio__label:hover .radio__box,
.radio__label:focus .radio__box {
    box-shadow: 0 0 1px 0.5rem var(--black_10)
}


.radio__input:checked+.radio__label .radio__box:after {
    opacity: 1;
}

.radio__input:checked+.radio__label .radio__text {
    font-weight: bold;
}

.radio__input:disabled+.radio__label {
    cursor: default;
    color: var(--gray);
}

.radio__input:disabled+.radio__label .radio__box {
    border: 2px solid var(--gray);
}

.radio__input:disabled+.radio__label .radio__box:after {
    display: none;
}

.hamburger {
    padding: 10px 10px;
    display: inline-block;
    cursor: pointer;
    transition-property: opacity, filter;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    font: inherit;
    color: inherit;
    text-transform: none;
    background-color: transparent;
    border: 0;
    margin: 0;
    overflow: visible;
}

.hamburger_active .hamburger__inner,
.hamburger_active .hamburger__inner::before,
.hamburger_active .hamburger__inner::after {
    background-color: #fff;
}

.hamburger__box {
    width: 45px;
    height: 20px;
    display: block;
    position: relative;
}

.hamburger__inner {
    display: block;
    top: 50%;
    margin-top: -1px;
}

.hamburger__inner,
.hamburger__inner::before,
.hamburger__inner::after {
    width: 45px;
    height: 2px;
    background-color: #fff;
    border-radius: 0px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease;
}

.hamburger__inner::before,
.hamburger__inner::after {
    content: "";
    display: block;
}

.hamburger__inner::before {
    top: -9px;
}

.hamburger__inner::after {
    bottom: -9px;
}

.hamburger_type_slider .hamburger__inner {
    top: 1px;
}

.hamburger_type_slider .hamburger__inner::before {
    top: 9px;
    transition-property: transform, opacity;
    transition-timing-function: ease;
    transition-duration: 0.15s;
}

.hamburger_type_slider .hamburger__inner::after {
    top: 18px;
}

.hamburger_type_slider.hamburger_active .hamburger__inner {
    transform: translate3d(0, 9px, 0) rotate(45deg);
}

.hamburger_type_slider.hamburger_active .hamburger__inner::before {
    transform: rotate(-45deg) translate3d(-6.4285714286px, -7px, 0);
    opacity: 0;
}

.hamburger_type_slider.hamburger_active .hamburger__inner::after {
    transform: translate3d(0, -18px, 0) rotate(-90deg);
}


.header {
    background-color: var(--dark);
    padding: 1.25rem 0.6rem 1.25rem 1.25rem;
    display: flex;
    justify-content: flex-end;
    position: relative;
    align-items: center;
}

.header__home-link {
    margin-right: auto;
    text-decoration: none;
    position: relative;
}

.header__logo {
    color: var(--white);
    font-family: var(--ff-forum);
    font-size: 1.875rem;
    line-height: 3.125rem;
    letter-spacing: 0.0375rem;
    margin: 0;
    font-weight: normal;
    padding-right: 1rem;
}

.header__panel {
    display: flex;
    flex: 0 1 auto;
    align-items: center;
    position: relative;
}

.header__nav {
    flex: 0 1 auto;
    margin-right: 2.5rem;
}

.header__menu {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 0 1.875rem;
    flex-wrap: wrap;
}

.header__link {
    color: var(--white);
    line-height: 3.125rem;
    text-decoration: none;
    position: relative;
    display: block;
    white-space: nowrap;
}

.header__link:after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: var(--white);
    transform: translateX(-50%);
}

.header__link:hover.header__link:after,
.header__link:focus.header__link:after {
    width: 100%;
    transition: width 0.2s ease;
}

.user-menu {
    position: relative;
    flex: none;
}

.user-menu__content {
    position: absolute;
    top: 100%;
    right: 0;
    width: 80px;
    margin: 0;
    background-color: var(--white);
    padding: 0 2px 16px;
    text-align: center;
    list-style: none;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.user-menu_active .user-menu__content {
    visibility: visible;
    opacity: 1;
}

.user-menu__item {
    font-size: 15px;
    ;
    line-height: 20px;
    text-align: center;
    padding: 5px 0;
    margin-bottom: 0;
}

.user-menu__title {
    font-weight: 700;
    position: relative;
    margin-bottom: 10px;
}

.user-menu__title_sm {
    font-size: 12px;
}

.user-menu__title:after {
    content: '';
    display: block;
    position: absolute;
    width: 40px;
    left: 50%;
    top: 100%;
    height: 1px;
    background-color: var(--sand);
    transform: translateX(-50%);
}

.user-menu__link {
    text-decoration: none;
    display: block;
    color: var(--black);
}

.user-menu__link:hover {
    font-weight: bold;
}

.user-menu__avatar-wrap {
    cursor: pointer;
    height: 1.75rem;
    width: 1.75rem;
}

.user-menu__guest-avatar {
    height: 100%;
    width: 100%;
}

.user-menu__user-avatar {
    text-align: center;
    color: var(--sand);
    background-color: var(--white);
    font-size: 0.9375rem;
    line-height: 1.75rem;
    border-radius: 50%;
}

.header__user-menu {
    margin-right: 0.65rem;
    flex: none;
}

.header__toggler {
    margin-left: 1.2rem;
    display: none;
}


.section-title {
    position: relative;
    color: var(--dark);
    font-family: var(--ff-forum);
    font-size: 2.5rem;
    line-height: 2.5rem;
    letter-spacing: 0.125rem;
    text-transform: capitalize;
    margin: 0 0 2.5rem;
    padding: 0 0 1.25rem;
    font-weight: normal;
    text-align: center;
}

.section-title::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 3.125rem;
    height: 0.0625rem;
    background-color: var(--dark);
}

.section-description {
    text-align: center;
}

.welcome {
    background: linear-gradient(180deg,
            #0c0c0e 0%,
            #0c0c0e 0.01%,
            rgba(18, 18, 21, 0.1) 100%) top/ 100% 50% no-repeat,
        url("./../assets/img/welcome-bg.jpg") center/ cover no-repeat;
    min-height: 600px;
    display: flex;

}


.welcome__title {
    color: var(--white);
    text-align: center;
    font-family: var(--ff-forum);
    font-weight: normal;
    font-size: 2.5rem;
    line-height: 3.125rem;
    letter-spacing: 0.1875rem;
    text-transform: uppercase;
    padding: 35px 40px;
    margin: auto 0 160px;
    background: #000;
    flex: 0 1 600px;
}

.gallery__wrap {
    margin: 0 auto 1.9rem;
    position: relative;
}

.gallery__grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 1.5625rem;
}

.gallery__item {
    position: relative;
}

.gallery__item:before {
    content: "";
    display: block;
    padding-top: 125%;
}

.gallery__item:nth-child(n+4) {
    display: none;
}

.gallery__btn {
    position: absolute;
    top: 50%;
    height: 4rem;
    width: 3rem;
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: none;
    transform: translateY(-50%);
    padding: 0;
    margin-top: 20px;
}

.gallery__btn:disabled {
    display: none;
}

.gallery__btn:hover {
    opacity: 0.7;
}

.gallery__prev-btn {
    text-align: left;
    left: 0;
}

.gallery__next-btn {
    text-align: right;
    right: 0;
}

.gallery__btn-icon {
    width: 1.5rem;
    height: 1.5rem;
    display: inline-block;
}

.gallery__next-btn .gallery__btn-icon {
    transform: rotate(180deg);
}


.gallery-pagination {
    display: flex;
    justify-content: center;
}

.gallery-pagination__dot {
    flex: none;
    display: block;
    border-radius: 50%;
    padding: 5px 5px;
    cursor: pointer;
}

.gallery-pagination__dot:nth-child(n+4) {
    display: none;
}

.gallery-pagination__dot:before {
    content: "";
    display: block;
    background-color: var(--dark);
    border-radius: 50%;
    height: 16px;
    width: 16px;
}

.gallery-pagination__dot_active:before {
    background-color: var(--sand);
}

.about {
    padding: 0 1.25rem;
}

.about__gallery {}

.favorites {
    padding: 0 1.25rem;
}


.favorites__title {
    margin-bottom: 2rem;
}

.item-picker__title {
    font-weight: bold;
    margin-bottom: 1.6rem;
}

.item-picker__control {
    padding: 0;
}

.item-picker__controls-wrap {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0 0 1.9rem;
    flex-wrap: wrap;
    gap: 1.25rem 5.6rem;
}

.item-picker__controls-wrap_sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--white);
    z-index: 100;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
    padding: 0 1.25rem;
    
}

.item-picker__tabs{
    display: grid;
    grid-template-areas: "container";
}

.item-picker__grid {
    grid-template-columns: repeat(auto-fit, minmax(590px, 1fr));
    grid-auto-rows: 1fr;
    gap: 2.5rem max(1.25rem, calc(100% - 2 * 590px));
    justify-content: center;
    display: grid;
    min-height: 100%;
}

.item-picker__tab {
    grid-area: container;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.item-picker__tab_active {
}

.item-picker__tab_fadein {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.item-picker_item {}

.item-picker__item-inner {
    max-width: 590px;
    margin: 0 auto;
    min-height: 100%;
}

.book-block {
    position: relative;
    padding-top: 0.9375rem;
    padding-left: 1.25rem;
    display: flex;
    flex-direction: column;
    z-index: 1;
}

.book-block:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 40px;
    bottom: 0;
    border: 1px solid var(--black);
    z-index: -1;
}

.book-block__source {
    position: relative;
    color: var(--black);
    font-family: var(--ff-forum);
    letter-spacing: 0.125rem;
    margin: 0 0 1.25rem;
}

.book-block__source::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 60px;
    height: 1px;
    background: var(--sand);
}

.book-block__title {
    font-size: 0.9375rem;
    font-weight: 700;
    letter-spacing: 0.125rem;
    text-transform: uppercase;
    margin: 0;
}

.book-block__author {
    font-size: 0.9375rem;
    font-weight: 700;
    letter-spacing: 0.125rem;
    margin: 0 0 1.25rem;
}

.book-block__wrap {
    display: flex;
    flex: auto;
}

.book-block__content {
    flex: auto;
    padding-right: 0.75rem;
    padding-bottom: 0.9rem;
    display: flex;
    flex-direction: column;
}

.book-block__text {
    color: var(--black);
    font-size: 0.9375rem;
    letter-spacing: 0.125rem;
    text-transform: capitalize;
    margin: 0 0 1rem;
}

.book-block__btn {
    margin-top: auto;
    flex: none;
    align-self: flex-start;
}

.book-block__img-wrap {
    flex: none;
    height: 300px;
    width: 200px;
    align-self: flex-end;
}

.book-block__img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.coffee-shop {
    padding: 0 1.25rem;
}

.coffee-shop__description {
    letter-spacing: 0.125rem;
    margin: 0 0 2.5rem;
}

.coffee-shop__grid {
    display: flex;
    flex-wrap: wrap;
    gap: 2.5rem
}

.coffee-shop__item:nth-child(even) {
    text-align: right;
    margin-left: auto;
}

.price-block__title {
    color: var(--sand);
    font-family: var(--ff-forum);
    font-size: 2.5rem;
    font-weight: normal;
    letter-spacing: 0.125rem;
    margin: 0 0 2.5rem;
}

.price-block__table {
    list-style: none;
    padding: 0;
    display: table;
    border-collapse: separate;
    border-spacing: 0 2.45rem;
    margin: -2.45rem 0;
    width: 100%;
}

.price-block__row {
    letter-spacing: 0.125rem;
    text-transform: capitalize;
    display: table-row;
}

.price-block__item-name {
    display: table-cell;
    white-space: nowrap;
}

.price-block__divider {
    display: table-cell;
    width: 220px;
    position: relative;
}

.price-block__divider:after {
    content: "";
    position: absolute;
    display: block;
    height: 1px;
    left: 27%;
    right: 27%;
    top: 50%;
    background-color: var(--sand);
}

.price-block__price {
    display: table-cell;
    font-family: var(--ff-forum);
    text-align: right;
}

.price-block__price:before {
    content: "$";
}

.contacts {
    padding: 0 1.25rem;
}

.contacts__grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(0px, 1fr));
    gap: 3.5rem 1.25rem;
    justify-content: center;
}

.contacts__title {
    margin-bottom: 2.7rem;
}

.contacts__section {
    letter-spacing: 0.125rem;
    text-transform: capitalize;
    margin-bottom: 2.5rem;
}

.contacts__section-title {
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 2.5rem;
}

.contacts__staff-title {
    margin-bottom: 1.3rem;
}

.contacts__list {
    list-style: none;
    padding: 0;
}

.contacts__item {
    margin: 0;
}

.contacts__item:not(:last-child) {
    margin-bottom: 1.25rem;
}

.contacts__item-text {}

.contacts__item-link {
    text-decoration: none;
    color: var(--black);
}

.contacts__item-link:hover {
    text-decoration: underline;
}

.contacts__accented-text {
    font-weight: bold;
}

.contacts__map-wrap {
    position: relative;
    max-width: 696px;
    margin: 0 auto;
}

.contacts__map-wrap:before {
    content: "";
    display: block;
    padding-top: 60.2%;
}

.library-card {
    padding: 0 1.25rem;
}

.library-card_guest .library-card__guest-title {
    display: block;
}

.library-card_user .library-card__user-title {
    display: block;
}


.library-card__grid {
    display: grid;
    grid-template-columns: minmax(280px, 600px) minmax(280px, 465px);
    gap: 1.25rem;
    justify-content: space-between;
}

.library-card__column {}

.library-card__get-card {
    text-align: right;
}

.library-card__title {
    font-size: 1.875rem;
    letter-spacing: 0.0375rem;
    text-align: center;
    margin: 0 0 1.7rem;
    font-weight: normal;
    display: none;
}


.card {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    border: 3px solid var(--sand);
    background-color: var(--white);
    padding: 1rem 1rem 0.875rem;
}

.card_user .card__info{
    display: flex;
}

.card_user .card__btn {
    display: none;
}

.card__info{
    display: none;
    gap: 2.19rem;
    flex-wrap: wrap;
    justify-content: center;
}

.card__wrap {
    padding: 1.25rem 1.25rem 1.5625rem;
    margin-bottom: 1.25rem;
    background-color: var(--sand);
}

.card__title {
    font-family: var(--ff-forum);
    font-size: 1.875rem;
    line-height: 3.125rem;
    letter-spacing: 0.0375rem;
    font-weight: normal;
    margin: 0 0 1.25rem;
}

.card__input:not(:last-child) {
    margin-bottom: 1.6rem;
}

.card__btn {
    display: block;
    width: max-content;
    max-width: 100%;
    margin: 0 auto 1rem;
}

.get-card_guest .get-card__guest-content{
    display: block;
}

.get-card_user .get-card__user-content {
    display: block;
}

.get-card__content {
    display: none;
}

.get-card__title {
    font-family: var(--ff-forum);
    font-size: 1.875rem;
    font-weight: 400;
    letter-spacing: 0.0375rem;
    margin: 0 0 1.7rem;
}

.get-card__text {
    letter-spacing: 0.025rem;
    margin: 0 0 2.3rem;
}

.get-card__buttons {
    line-height: 1;
}

.get-card__btn:not(:last-child) {
    margin-right: 0.8rem;
}


.social-links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.social-links__item {
    flex: none;
    line-height: 1;
}

.social-links__item:not(:last-child) {
    margin-right: 1rem;
}

.social-links__icon {
    width: 1.5rem;
    height: 1.5rem;
}

.footer {
    color: var(--white);
    background-color: var(--dark);
    padding: 0 1.25rem;
}

.footer__wrap {
    padding: 1.25rem 0 1.875rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    justify-content: space-between;
    gap: 0 1.25rem;
}

.footer__column {}

.footer__location {
    display: block;
    font-size: 0.9375rem;
    line-height: 1.25rem;
    margin-bottom: 1rem;
    font-style: normal;
    max-width: 230px;
}

.footer__intervals {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: right;
}

.footer__interval {
    font-size: 0.9375rem;
    line-height: 1.25rem;
}

.footer__interval:not(:last-child) {
    margin-bottom: 0.5rem;
}

.footer__day {
    margin: 0;
}

.footer__time {
    margin: 0;
}

.footer__copyright {
    border-top: 1px solid var(--white);
    font-size: 1.25rem;
    letter-spacing: 0.125rem;
    padding: 2.2rem 0;
    display: grid;
    gap: 0.5rem 1.25rem;
    grid-template-columns: minmax(min-content, 200px) 1fr minmax(min-content, 200px);
}

.footer__bottom-column:nth-child(2) {
    text-align: center;
}

.footer__bottom-column:nth-child(3) {
    text-align: right;
}

.footer__link {
    text-decoration: none;
    color: var(--white)
}

.footer__link:hover {
    text-decoration: underline;
}

.footer__organization {}

.footer__creator {}


.modal-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99;
    pointer-events: none;
    visibility: hidden;
    background-color: #000000;
    opacity: 0;
    transition: opacity var(--modal-animation-time) ease,
        visibility var(--modal-animation-time) ease;
}

.modal-overlay_active {
    visibility: visible;
    pointer-events: auto;
    opacity: 0.6;
}

.modal-block {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 30px 0;
    pointer-events: none;
}

.modal-block_active {
    pointer-events: auto;
}

.modal-block__window {
    flex: none;
    width: 100%;
    max-width: 600px;
    max-height: calc(100vh - 60px);
    position: relative;
    margin: auto 0;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    transition: transform var(--modal-animation-time) ease,
        opacity var(--modal-animation-time) ease,
        visibility var(--modal-animation-time) ease;
    transform: scale(0.9);
    opacity: 0;
    visibility: hidden;
}

.modal-block__window_sm {
    max-width: 250px;
}

.modal-block__window_md {
    max-width: 650px;
}
.modal-block_active .modal-block__window {
    transform: scale(1);
    opacity: 1;
    visibility: visible;
}

.modal-block__close-btn {
    position: absolute;
    padding: 0.5rem 1rem;
    right: 10px;
    top: 15px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: 0.3s opacity ease;
}

.modal-block__close-btn:hover {
    opacity: 0.7;
}

.modal-block__close-icon {
    width: 1.3rem;
    height: 1.3rem;
    z-index: 10;
    display: block;
}



.modal-block__window_sm .modal-block__close-btn {
    padding: 0.5rem 0.5rem;
    right: 4px;
    top: 4px;
}


.copy {
    position: relative
}

.copy__btn {
    padding: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.copy__message {
    position: absolute;
    font-size: 12px;
    margin-left: 5px;
    opacity: 0;
    transition: 0.3s opacity ease;
    width: max-content;
}

.copy__message_active {
    opacity: 1;
}

.profile-block {
    display: flex;
}

.profile-block__avatar-column {
    flex: 0 0 170px;
    display: flex;
    flex-direction: column;
    padding: 1.5625rem;
    background-color: var(--dark);
    align-items: center;
    gap: 0.9375rem;
    padding-top: 140px;
}

.profile-block__avatar {
    color: var(--sand);
    text-transform: uppercase;
    min-height: 80px;
    max-width: 80px;
    width: 100%;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile-block__name {
    text-transform: capitalize;
    line-height: 1;
    padding: 0.3125rem 0.9375rem;
    background-color: var(--white);
    margin: 0;
    text-align: center;
}


.profile-block__content-column {
    flex: 0 1 100%;
    padding: 2rem 1.5625rem 1.5625rem 1.25rem;
    background-color: var(--white);
}

.profile-block__heading {
    font-family: var(--ff-forum);
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
    margin: 0 0 1.25rem;
}

.profile-block__info {
    display: flex;
    gap: 1.25rem;
    flex-wrap: wrap;
}

.profile-block__info-item {}

.info-item {
    font-size: 1.25rem;
    letter-spacing: 0.025rem;
    text-transform: capitalize;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-item__title {
    margin: 0;
}

.info-item__icon {
    width: 1.25rem;
    height: 1.3125rem;
}

.info-item__counter {
    font-size: 0.625rem;
    line-height: 1.25rem;
    letter-spacing: 0.0125rem;
}


.info-item_sm {
    font-size: 0.625rem;
    line-height: 1.25rem;
    letter-spacing: 0.0125rem;
}



.profile-block__section {}

.profile-block__section-title {
    color: var(--black);
    font-size: 1.5625rem;
    margin: 0 0 1.1rem;
}

.profile-block__list {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    margin: 0 0 2rem;
    padding-left: 1.9rem;
    height: 53px;
    overflow: auto;    
}

.profile-block__list-item {
    font-size: 1.25rem;
    letter-spacing: 0.125rem;
    text-transform: capitalize;
    margin: 0;
    line-height: 1;
}

.profile-block__card-info {
    color: var(--dark);
    font-size: 1.25rem;
    display: flex;
    gap: 1rem;
    align-items: center;
    flex-wrap: wrap;
}

.profile-block__card-number {
    color: var(--sand);

}


.profile-block__copy-icon {
    width: 0.83188rem;
    height: 0.75rem;
    display: block;
}

.login-form,
.signup-form {
    position: relative;
}

.login-form__state,
.signup-form__state {
    position: absolute;
    top: -12px;
    font-size: 12px;
    line-height: 1;
    width: 100%;
    text-align: center;
    color: red;
}

.authorization-block {
    background-color: var(--white);
    padding: 1.25rem 1.5625rem;
}

.authorization-block__title {
    font-family: var(--ff-forum);
    font-size: 1.25rem;
    line-height: 1.25rem;
    letter-spacing: 0.025rem;
    text-transform: uppercase;
    font-weight: normal;
    margin: 0 0 1.2rem;
    text-align: center;
}


.authorization-block__form-field {
    margin-bottom: 0.7rem;
}

.authorization-block__footer {
    line-height: 1;

}

.authorization-block__footer-text {
    text-shadow: 0px 2px 3px rgba(255, 255, 255, 0.16);
    font-family: var(--ff-inter);
    font-size: 0.625rem;
    font-style: normal;
    font-weight: 400;
}


.authorization-block__footer-link {
    color: var(--dark);
    font-size: 0.625rem;
    font-weight: 700;
    letter-spacing: 0.0625rem;
    text-decoration-line: underline;
    margin: 0;
}

.buy-card {
    background-color: var(--white);
}

.buy-card__header {
    background-color: var(--dark);
    color: var(--white);
    text-align: center;
    font-family: var(--ff-forum);
    font-size: 2.5rem;
    font-weight: 400;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
    margin: 0;
    padding: 0.7rem 4.5rem;
}

.buy-card__content {
    display: flex;
    gap: 2.5rem;
    padding: 1.8rem 2.5rem 2.6rem;
}

.buy-card__form-column {
    flex: 0 0 200px;
}

.buy-card__form {}

.buy-card__form-field {
    margin-bottom: 0.6rem;
}

.buy-card__cvc-field {
    margin-bottom: 1.5rem;
}

.buy-card__footer {
    display: flex;
    flex-wrap: wrap;
    gap: 0 1.25rem;
    align-items: flex-end;
    padding-top: 0.625rem;
}

.btn-transparent {}

.buy-card__buy-btn {}

.buy-card__sum {
    color: var(--dark);
    font-family: var(--ff-inter);
    font-size: 1.25rem;
    font-style: normal;
    font-weight: bold;
    line-height: 1;
    letter-spacing: 0.125rem;
    text-transform: uppercase;
}

.buy-card__text-column {
    flex: 1 1 auto;
    color: var(--gray);
    font-size: 0.9375rem;
    line-height: 1.25rem;
    letter-spacing: 0.125rem;
    margin: 0;
}

.buy-card__text {
    margin: 0;
}

@media (max-width: 1024px) {
    .header__nav {
        position: absolute;
        top: 100%;
        right: 0;
        width: 100%;
        max-width: var(--mobile-menu-width);
        margin-right: 0;
        transform: translate3d(var(--mobile-menu-x-pos), 0, 0);
        visibility: hidden;
        animation-fill-mode: both;
        padding-top: 10px;
        padding-bottom: 100px;
        background-color: var(--dark);
        z-index: 10;
        animation-duration: 0.3s;
    }

    .header__menu-content {}

    .header__panel {}

    .header__menu {
        flex-direction: column;
        align-items: stretch;
        text-align: center;
        gap: 1.875rem;
    }

    .header__item {}

    .header__link {
        white-space: normal;
    }

    .header__link:hover.header__link:after,
    .header__link:focus.header__link:after {
        width: 60%;
    }

    .header__toggler {
        display: block;
    }

    .gallery__wrap {
        margin-bottom: 1rem;
        max-width: 614px;
    }

    .gallery__grid {
        grid-template-columns: minmax(0, 450px);
        justify-content: center;
    }

    .gallery__btn {
        display: block;
    }

    .gallery__item:nth-child(n+2) {
        display: none;
    }

    .gallery-pagination__dot:nth-child(n+1) {
        display: block;
    }

    .item-picker__grid {
        grid-template-columns: minmax(0, 590px);
        justify-content: center;
    }

    .coffee-shop__description {
        margin: 0 -5px 2.5rem;
    }

    .contacts__grid {
        grid-template-columns: minmax(0, 725px);
    }

    .library-card__grid {
        grid-template-columns: minmax(0, 600px);
        justify-content: center;
    }

    .library-card__get-card {
        text-align: center;
    }

    .get-card__title {
        margin-bottom: 2rem;
    }

    .get-card__text {
        margin-bottom: 2.6rem;
    }

    .footer__copyright {
        grid-template-columns: minmax(min-content, 120px) 1fr auto;
    }
}


@media (max-width: 575px) {

    .item-picker__grid {
        grid-auto-rows: auto;
    }

    .book-block {
        padding-right: 1.25rem;
    }

    .book-block:before {
        right: 0;
    }

    .book-block__wrap {
        flex-direction: column;
    }

    .book-block__content {
        flex: auto;
        padding-right: 0;
    }

    .book-block__btn {
        margin-top: auto;
        flex: none;
        align-self: center;
    }

    .book-block__img-wrap {
        order: -1;
        align-self: center;
        margin-bottom: 1.25rem;
    }


    .footer__copyright {
        grid-template-columns: repeat(2, 1fr);
    }

    .footer__bottom-column:nth-child(2) {
        order: -1;
        grid-column: span 2;
    }
}

@keyframes slideIn {
    0% {
        visibility: visible;
        transform: translate3d(var(--mobile-menu-x-pos), 0, 0)
    }

    100% {
        visibility: visible;
        transform: translate3d(0, 0, 0)
    }
}

@keyframes slideOut {
    0% {
        visibility: visible;
        transform: translate3d(0, 0, 0)
    }

    to {
        visibility: hidden;
        transform: translate3d(var(--mobile-menu-x-pos), 0, 0)
    }
}


@keyframes fadein {
    0% {
        visibility: hidden;
        opacity: 0;
    }

    100% {
        visibility: visible;
        opacity: 1;
    }
}

@keyframes fadeout {
    0% {
        visibility: visible;
        opacity: 1;
    }

    to {
        visibility: hidden;
        opacity: 0;
    }
}