/* vars start*/
:root {
    --black: #000000;
    --dark: #0c0c0e;
    --white: #ffffff;
    --sand: #bb945f;
    --gray: #8e8e8e;
    --black_10: rgba(0, 0, 0, 0.1);

    --ff-inter: Inter, Arial, Helvetica, sans-serif;
    --ff-forum: Forum, "Brush Script MT", cursive;

    --page-width: 1440px;
}

/*vars end*/

@font-face {
    font-family: Forum;
    src: local("Forum"), local("Forum-Regular"),
        url(./../assets/fonts/Forum/Forum-Regular.woff2) format("woff2"),
        url(./../assets/fonts/Forum/Forum-Regular.woff) format("woff"),
        url(./../assets/fonts/Forum/Forum-Regular.ttf) format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: Inter;
    src: local("Inter Bold"), local("Inter-Regular"),
        url(./../assets/fonts/Inter/Inter-Regular.woff2) format("woff2"),
        url(./../assets/fonts/Inter/Inter-Regular.woff) format("woff"),
        url(./../assets/fonts/Inter/Inter-Regular.ttf) format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: Inter;
    src: local("Inter Bold"), local("Inter-Bold"),
        url(./../assets/fonts/Inter/Inter-Bold.woff2) format("woff2"),
        url(./../assets/fonts/Inter/Inter-Bold.woff) format("woff"),
        url(./../assets/fonts/Inter/Inter-Bold.ttf) format("truetype");
    font-weight: 700;
    font-style: normal;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

@media (prefers-reduced-motion: no-preference) {
    :root {
        scroll-behavior: smooth;
    }
}

html {
    box-sizing: border-box;
    height: 100%;
}

body {
    position: relative;
    overflow-x: hidden;
    min-height: 100%;
    min-width: 320px;
    font-family: var(--ff-inter);
    font-size: 1.25rem;
    line-height: 2.5rem;
    color: var(--black);
    background-color: var(--white);
    font-style: normal;
    -webkit-text-size-adjust: 100%;
}

.adaptive-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.page {
    margin: 0 auto;
    max-width: var(--page-width);
}

.page__welcome {
    margin-bottom: 1.25rem;
}

.page__about {
    margin-bottom: 3.7rem;
}

.page__favorites {
    margin-bottom: 3.7rem;
}

.page__coffee-shop {
    margin-bottom: 3.7rem;

}

.page__contacts {
    margin-bottom: 3.2rem;
}

.page__library-card {
    margin-bottom: 2.5rem;
}

.btn {
    display: inline-block;
    color: var(--dark);
    font-size: 0.625rem;
    font-weight: 700;
    line-height: 1;
    letter-spacing: 0.0625rem;
    padding: 0.56rem 1.69rem;
    cursor: pointer;
    margin: 0;
    text-decoration: none;
    text-align: center;
}

.btn_large {
    font-size: 1.25rem;
    padding: 0.65rem 2.5rem;
}

.btn_pad_a {
    padding: 0.6rem 0.9rem;
}

.btn_pad_b {
    padding: 0.6rem 1.2rem;
}

.btn_transparent {
    border-radius: 0.125rem;
    border: 1px solid var(--dark);
}

.btn_transparent:hover,
.btn_transparent:focus {
    background-color: var(--sand);
    border: 1px solid var(--sand);
    transition: all 0.2s ease;
}

.input {
    display: block;
    height: 4.125rem;
    width: 100%;
    padding: 0 1.25rem;
    border-radius: 0.625rem;
    border: 1px solid var(--sand);
    font-family: var(--ff-forum);
    font-size: 1.875rem;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    letter-spacing: 0.0375rem;
    /*background: var(--white);*/
    color: var(--black);
}

.input:disabled {
    cursor: default;
}

.input:hover,
.input:focus {
    outline: none;
    box-shadow: 0 0 3px 3px var(--black_10);
}

.input::-webkit-input-placeholder {
    color: var(--gray);
}

.input::-ms-input-placeholder {
    color: var(--gray);
}

.input:-moz-placeholder {
    color: var(--gray);
}

.radio {
    display: inline-flex;
    align-items: center;
}

.radio__box {
    position: relative;
    top: 0.1875rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 1.0625rem;
    height: 1.0625rem;
    margin-right: 1.25rem;
    flex: 0 0 auto;
    border: 2px solid var(--black);
    border-radius: 50%;
}

.radio__box:after {
    content: '';
    display: block;
    position: absolute;
    top: 3px;
    bottom: 3px;
    right: 3px;
    left: 3px;
    border-radius: 50%;
    background-color: var(--black);
    opacity: 0;
    flex: none;
}

.radio__box:hover {
    box-shadow: 0 0 1px 1px var(--black);
}

.radio__text {
    cursor: pointer;
    line-height: 1;
}


.radio__control:focus~.radio__box {
    box-shadow: 0 0 1px 1px var(--black);
}

.radio__control:checked~.radio__box:after {
    opacity: 1;
}

.radio__control:checked~.radio__text {
    text-shadow: 0 0 0.07rem var(--black), 0 0 0.07rem var(--black);
}

.radio__control:disabled~.radio__box {
    cursor: default;
    background: var(--gray);
    box-shadow: none;
}

.radio__control:disabled~.radio__box:after {
    display: none;
}

.radio__control:disabled~.radio__text {
    cursor: default;
    color: var(--gray);
}

.header {
    background-color: var(--dark);
    padding: 1.25rem;
    display: flex;
    align-items: center;
}

.header__home-link {
    margin-right: auto;
    text-decoration: none;
}

.header__logo {
    color: var(--white);
    font-family: var(--ff-forum);
    font-size: 1.875rem;
    line-height: 3.125rem;
    letter-spacing: 0.0375rem;
    margin: 0;
    font-weight: normal;
}

.header__nav {
    margin-right: 2.5rem;
}

.header__menu-content {}

.header__menu {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 1.875rem;
}



.header__link {
    color: var(--white);
    line-height: 3.125rem;
    text-decoration: none;
    position: relative;
    display: block;
}

.header__link:after {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    width: 0;
    height: 2px;
    background-color: var(--white);
}

.header__link:hover.header__link:after {
    width: 100%;
    transition: width 0.2s ease;
}

.user-menu {
    cursor: pointer;
}

.user-menu__avatar-wrap {
    display: flex;
}

.user-menu__profile-link {}

.user-menu__avatar {
    flex: none;
}


.container {
    padding: 0 1.25rem;
}

.section-title {
    position: relative;
    color: var(--dark);
    font-family: var(--ff-forum);
    font-size: 2.5rem;
    line-height: 2.5rem;
    letter-spacing: 0.125rem;
    text-transform: capitalize;
    margin: 0 0 2.5rem;
    padding: 0 0 1.25rem;
    font-weight: normal;
    text-align: center;
}

.section-title::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 3.125rem;
    height: 0.0625rem;
    background-color: var(--dark);
}

.section-description {
    text-align: center;
}

.welcome {
    display: flex;
    background: linear-gradient(180deg,
            #0c0c0e 0%,
            #0c0c0e 0.01%,
            rgba(18, 18, 21, 0.1) 100%) top/ 100% 50% no-repeat,
        url("./../assets/img/welcome-bg.jpg") center/ cover no-repeat;
}

.welcome__title {
    color: var(--white);
    text-align: center;
    font-family: var(--ff-forum);
    font-weight: normal;
    font-size: 2.5rem;
    line-height: 3.125rem;
    letter-spacing: 0.1875rem;
    text-transform: uppercase;
    padding: 2.1875rem 2.5rem;
    flex: 0 1 37.5rem;
    margin: 15.2% 0 11.2%;
    background: #000;
}

.gallery {}

.gallery__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5625rem;
}

.gallery__item {
    position: relative;
    padding-top: 125%;
}

.gallery-controls {
    display: flex;
    justify-content: center;
}

.gallery-controls__dot {
    display: block;
    height: 1rem;
    width: 1rem;
    border-radius: 100%;
    background-color: var(--dark);
    cursor: pointer;
}

.gallery-controls__dot_active {
    background-color: var(--sand);
}

.gallery-controls__dot:not(:last-child) {
    margin-right: 0.6rem;
}

.about {
    padding: 0 1.25rem;
}

.about__gallery {
    margin-bottom: 2.5rem;
}

.favorites {
    padding: 0 1.25rem;
}

.favorites__title {}

.item-picker__title {
    font-weight: bold;
    margin-bottom: 2.8rem;
    line-height: 1;
}

.item-picker__control {
    display: flex;
    padding: 0;
}

.item-picker__controls-wrap {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0 0 2.7rem;
    flex-wrap: wrap;
    gap: 5.8rem;
}

.item-picker__grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(min-content, 590px));
    gap: 2.5rem 1.5625rem;
    justify-content: space-between;
}

.item-picker__item {
    display: flex;
}

.book-block {
    position: relative;
    padding-top: 0.9375rem;
    padding-left: 1.25rem;
    display: flex;
    flex-direction: column;
}

.book-block:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 40px;
    bottom: 0;
    border: 1px solid var(--black);
    z-index: -1;
}

.book-block__tag {
    position: relative;
    color: var(--black);
    font-family: var(--ff-forum);
    letter-spacing: 0.125rem;
    margin: 0 0 1.25rem;
}

.book-block__tag::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 60px;
    height: 1px;
    background: var(--sand);
}

.book-block__title {
    font-size: 0.9375rem;
    font-weight: 700;
    letter-spacing: 0.125rem;
    text-transform: uppercase;
    margin: 0;
}

.book-block__author {
    font-size: 0.9375rem;
    font-weight: 700;
    letter-spacing: 0.125rem;
    margin: 0 0 1.25rem;
}

.book-block__wrap {
    display: flex;
    flex: auto;
}

.book-block__content {
    flex: auto;
    padding-right: 0.75rem;
    padding-bottom: 1rem;
    display: flex;
    flex-direction: column;
}

.book-block__text {
    color: var(--black);
    font-size: 0.9375rem;
    letter-spacing: 0.125rem;
    text-transform: capitalize;
    margin: 0 0 1rem;
}

.book-block__btn {
    margin-top: auto;
    flex: none;
    align-self: flex-start;
}

.book-block__img-wrap {
    flex: none;
    height: 300px;
    width: 200px;
    align-self: flex-end;
}

.book-block__img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.coffee-shop{
   padding: 0 1.25rem;
}
.coffee-shop__title {}

.coffee-shop__description {
    letter-spacing: 0.125rem;
    margin-bottom: 2.5rem;
}

.coffee-shop__grid {
    display: flex;
    flex-wrap: wrap;
    gap: 2.5rem
}

.coffee-shop__item:nth-child(even) {
    text-align: right;
    margin-left: auto;
}

.price-block__title {
    color: var(--sand);
    font-family: var(--ff-forum);
    font-size: 2.5rem;
    font-weight: normal;
    letter-spacing: 0.125rem;
    margin: 0 0 2.5rem;
}

.price-block__table {
    list-style: none;
    padding: 0;
    display: table;
    border-collapse: separate;
    border-spacing: 0 2.45rem;
    margin: -2.45rem 0;
    width: 100%;
}

.price-block__row {
    letter-spacing: 0.125rem;
    text-transform: capitalize;
    display: table-row;
}

.price-block__item-name {
    display: table-cell;
    white-space: nowrap;
}

.price-block__divider {
    display: table-cell;
    width: 220px;
    position: relative;
}

.price-block__divider:after {
    content: "";
    position: absolute;
    display: block;
    height: 1px;
    left: 27%;
    right: 27%;
    top: 50%;
    background-color: var(--sand);
}

.price-block__price {
    display: table-cell;
    font-family: var(--ff-forum);
    text-align: right;
}

.price-block__price:before {
    content: "$";
}

.contacts {
    padding: 0 1.25rem;
}

.contacts__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.25rem;
}

.contacts__title {
    margin-bottom: 2.7rem;
}

.contacts__section {
    letter-spacing: 0.125rem;
    text-transform: capitalize;
    margin-bottom: 2.5rem;
}

.contacts__section-title {
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 2.5rem;
}

.contacts__staff-title {
    margin-bottom: 1.3rem;
}

.contacts__list {
    list-style: none;
    padding: 0;
}

.contacts__item {
    margin: 0;
}

.contacts__item:not(:last-child) {
    margin-bottom: 1.25rem;
}

.contacts__item-text {}

.contacts__item-link {
    text-decoration: none;
    color: var(--black);
}

.contacts__accented-text {
    font-weight: bold;
}

.contacts__map {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.library-card {
    padding: 0 1.25rem;
}

.library-card__grid {
    display: grid;
    grid-template-columns: minmax(280px, 600px) minmax(280px, 465px);
    justify-content: space-between;
}

.library-card__column {}

.library-card__get-card {
    text-align: right;
}

.find-card {}

.find-card__title {
    font-size: 1.875rem;
    letter-spacing: 0.0375rem;
    text-align: center;
    margin: 0 0 1.7rem;
    font-weight: normal;
}

.card {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    border: 3px solid var(--sand);
    background-color: var(--white);
    padding: 1rem 1rem 1.875rem;
}

.card__wrap {
    padding: 1.25rem 1.25rem 1.5625rem;
    margin-bottom: 1.25rem;
    background-color: var(--sand);
}

.card__title {
    font-family: var(--ff-forum);
    font-size: 1.875rem;
    line-height: 3.125rem;
    letter-spacing: 0.0375rem;
    font-weight: normal;
    margin: 0 0 1.25rem;
}

.card__input:not(:last-child) {
    margin-bottom: 1.6rem;
}

.card__btn {
    display: block;
    width: max-content;
    max-width: 100%;
    margin: 0 auto;
}


.get-card__title {
    font-family: var(--ff-forum);
    font-size: 1.875rem;
    font-weight: 400;
    letter-spacing: 0.0375rem;
    margin: 0 0 1.7rem;
}

.get-card__text {
    letter-spacing: 0.025rem;
    margin: 0 0 2.3rem;
}

.get-card__buttons {
    line-height: 1;
}
.get-card__btn:not(:last-child) {
    margin-right: 0.8rem;
}


.social-links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.social-links__item {
    flex: none;
    line-height: 1;
}

.social-links__item:not(:last-child) {
    margin-right: 1rem;
}

.social-links__icon {
    width: 1.5rem;
    height: 1.5rem;
}

.footer {
    /*color: var(--white);*/
    /*background-color: var(--dark);*/
    padding: 0 1.25rem;
}

.footer__wrap {
    padding: 1.25rem 0 1.875rem;
    display: grid;
    grid-template-columns: 230px auto;
    justify-content: space-between;
    gap: 1.25rem;
}

.footer__column {}

.footer__location {
    font-size: 0.9375rem;
    line-height: 1.25rem;
    margin-bottom: 1rem;
    font-style: normal;
}

.footer__intervals {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: right;
}

.footer__interval {
    font-size: 0.9375rem;
    line-height: 1.25rem;
}

.footer__interval:not(:last-child) {
    margin-bottom: 0.5rem;
}

.footer__day {
    margin: 0;
}

.footer__time {
    margin: 0;
}

.footer__copyright {
    border-top: 1px solid var(--white);
    font-size: 1.25rem;
    letter-spacing: 0.125rem;
    padding: 2.2rem 0;
    display: grid;
    gap: 1.25rem;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
}

.footer__bottom-column {
    display: flex;
}

.footer__link {
    text-decoration: none;
    color: var(--white)
}

.footer__organization {
    margin: 0 auto;
}

.footer__creator {
    margin-left: auto;
}